img {
	border: 0 none;
	width: 272px;
	height: 200px;
}

body {
	color: #FFFFFF;
	font-size: 14px;
	font-family: Georgia, serif;
}

html {
    background-color: #8B8378;
}

h1 {
	font-size: 18px;

}

h4 {
	font-size: 12px;
}

#index_content {
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10%;
}